<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<!-- Page content goes here -->
<div class="wrapper">
    <header th:insert="fragments.html :: nav"></header>
    <!-- Content -->
    <div id="content">
        <!-- sidebar btn -->
        <nav class="navbar navbar-expend-lg navbar-light bg-light">
            <div class="container-fluid row">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                </button>
                <a th:href="@{~/profile/index}" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </nav>
        <br><br>
        <!-- Content -->
        <h2>Admin Content</h2>
        <p>Admin Content</p>
</div>
<div th:insert="fragments.html :: script"></div>
</body>
</html>