<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<div class="wrapper">
    <div th:insert="fragments.html :: nav"></div>
    <!-- Content -->
    <div id="content">
        <!-- sidebar btn -->
        <nav class="navbar navbar-expend-lg navbar-light bg-light">
            <div class="container-fluid row">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                </button>
                <a th:href="@{~/profile/index}" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </nav>
        <br><br>
        <!-- Content -->
        <div class="col-lg-10">
            <div class="card mb-4">

                <div class="alert alert-danger" th:if="${incorrectPassword}">
                    <strong>Incorrect Password!</strong> Pleae enter the correct
                    password for the current user.
                </div>

                <div class="alert alert-succss" th:if="${updateSuccess}">
                    <strong>Update Success!</strong>
                </div>
                <div class="card-body" th:classappend="${classActiveEdit}? 'in active'">
                    <form th:action="@{/profile/updateUserInfo}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0" for="firstName">Full Name</label>
                            </div>
                            <div class="col-sm-9">
                                <p type="text" class="form-control" id="firstName"
                                   name="firstName" th:value="${user.firstName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<div th:insert="fragments.html :: script"></div>
</body>
</html>