<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<div class="wrapper">
    <div th:insert="fragments.html :: nav"></div>
    <!-- Content -->
    <div id="content">
        <!-- sidebar btn -->
        <nav class="navbar navbar-expend-lg navbar-light bg-light">
            <div class="container-fluid row">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                </button>
                <a th:href="@{~/profile/index}" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </nav>
<!--        <h2 class="section-headline">-->
<!--            <span th:text="${#strings.toUpperCase(user.firstName)}"></span>-->
<!--        </h2>-->

        <!-- Content -->
<!--        <ul class="nav nav-tabs">-->
<!--            <li th:classappend="${classActiveEdit}? 'active'"><a-->
<!--                    href="#tab-1" data-toggle="tab"><span style="color: red;">Edit</span></a></li>-->
<!--        </ul>-->

            <!-- Edit user information -->
            <div class="container"
                 th:classappend="${classActiveEdit}? 'in active'">
                <h4 class="mb-3">User Info</h4>
                <div class="form-group">
                    <div class="alert alert-danger" th:if="${incorrectPassword}">
                        <strong>Incorrect Password!</strong> Pleae enter the correct
                        password for the current user.
                    </div>

                    <div class="alert alert-success" th:if="${updateSuccess}">
                        <strong>Update Success!</strong>
                    </div>

                    <form class="needs-validation" th:action="@{/profile/updateUserInfo}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />

                        <div class="bg-info" th:if="${updateUserInfo}">User info
                            updated.</div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName"
                                       name="firstName" th:value="${user.firstName}" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       th:value="${user.lastName}" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="text" class="form-control"  id="userName" name="username"
                                           th:value="${user.username}" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       th:value="${user.email}" placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                    A valid email address. All emails from the system withll be sent to this address.
                                    The email address is not made public and will only be used
                                    if you wish to receive a new password or wish to receive certain notification.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword"
                                   name="password" th:value="${currentPassword}" >
                            <div class="invalid-feedback">
                                Enter your current password to change the email address or password.
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="txtNewPassword">New Password</label>&nbsp;<span
                                    id="checkPasswordMatch" style="color: red;"></span> <input
                                    type="password" class="form-control" id="txtNewPassword"
                                    name="newPassword" />
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="txtConfirmPassword">Confirm Password</label><input
                                    type="password" class="form-control" id="txtConfirmPassword" />
                            </div>
                        </div>

                        <hr class="mb-4">
                        <button id="updateUserInfoButton" type="submit"
                                class="btn btn-primary btn-lg btn-block">Save All</button>
                    </form>
                </div>
            </div>
    </div>
</div>
<div th:insert="fragments.html :: script"></div>
<script th:src="@{~/js/scripts}"></script>
</body>
</html>