<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>RESTDemo</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/custom/style.css}">
    <script th:src="@{~/font-awesome/js/all.js}"></script>
</head>
<body>
<div th:fragment="nav">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a th:href="@{~/index}" style="text-align: center;">
                <h3>RESTDemo</h3>
            </a>
        </div>
        <ul class="list-unstyled components">
            <!-- <p style="text-align: center;"><i class="fas fa-user-md"></i></p> -->
            <li class="text-center">
                <img th:src="@{~/images/find_user.png}" class="user-image img-responsive">
            </li>
            <br>
            <li>
                <a th:href="@{~/profile/index}" style="text-align: center;"><i class="fa-solid fa-user"></i> Profile</a>
            </li>
            <li>
                <a th:href="@{~/admin/index}" style="text-align: center;"><i class="fa-sharp fa-solid fa-user-tie"></i> Admin</a>
            </li>
            <li>
                <a th:href="@{~/management/index}" style="text-align: center;"><i class="fa-solid fa-user-gear"></i> Management</a>
            </li>

            <li>
                <a href="#securitySubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle" style="text-align: center;"><i class="fas fa-user-shield"></i> Security</a>
                <ul class="collapse list-unstyled" id="securitySubmenu" style="text-align: center;">
                    <li>
                        <a th:href="@{~/groups/index}">Roles</a>
                    </li>
                    <li>
                        <a th:href="@{~/users/index}">Users</a>
                    </li>
                </ul>
            </li>

            <li>
                <a th:href="@{~/about}" style="text-align: center;"><i class="far fa-address-card"></i> About</a>
            </li>

            <li>
                <a th:href="@{~/contact}" style="text-align: center;"><i class="fas fa-file-signature"></i> Contact Us</a>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="script">
    <script th:src="@{/custom/jquery.js}"></script>
    <script th:src="@{/custom/jquery.slim.js}"></script>
    <script th:src="@{/custom/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/scripts.js}"></script>-->

    <!-- DataTable -->
    <script th:src="@{/datademo/jquery.dataTables.min.js}"></script>
    <script th:src="@{/datademo/dataTables.bootstrap4.min.js}"></script>
    <script>
        $(document).ready(function () {
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('active');
            });
        });

        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</div>

</body>
</html>